{% extends 'base_front.html.twig' %}


{% block body %}
    <center><h1>Modifier Livraison</h1></center>
    <center>
    {{ include('livraison/_form.html.twig', {'button_label': 'Modifier'}) }}

    </center>
{% endblock %}
