{% extends 'panier.html.twig' %}


{% block body %}
<div class="section_padding">
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Livraison</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section-top-border">
    <br>
        <section style="padding-top: 5px;padding-bottom: 5px" class="feature_part member_counter single_feature_padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div style="height: 100px;padding-top: 1px" >
                            <div class="single_member_counter">
                                <p style="font-size: 20px;color: white">Etape 1</p>
                                <h4>Commander</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div style="height: 100px;padding-top: 1px" class="single_feature_part">
                            <div class="single_member_counter">
                                <p style="font-size: 20px;color: white">Etape 2</p>
                                <h4>Livraison</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div style="height: 100px;padding-top: 1px" >
                            <div class="single_member_counter">
                                <p style="font-size: 20px;color: white">Etape 3</p>
                                <h4>Confirmer</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div style="height: 100px;padding-top: 1px" >
                            <div class="single_member_counter">
                                <p style="font-size: 20px;color: white">Etape 4</p>
                                <h4>Facture</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </br>
        <center>
    {{ include('livraison/_form.html.twig') }}
    </center>
    </div>
</div>

{% endblock %}
