{% extends 'base.html.twig' %}

{% block title %}Edit Relations{% endblock %}

{% block body %}
    <h1>Edit Relations</h1>

    {{ include('relations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('relations_index') }}">back to list</a>

    {{ include('relations/_delete_form.html.twig') }}
{% endblock %}
