<!DOCTYPE html>

<title>Edit Oeuvrage</title>

{% block body %}
    <h1>Edit Oeuvrage</h1>

    {{ include('oeuvrage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('oeuvrage_index') }}">back to list</a>

    {{ include('oeuvrage/_delete_form.html.twig') }}
{% endblock %}
