<!DOCTYPE html>

<title>New Oeuvrage</title>

{% block body %}
    <h1>Create new Oeuvrage</h1>

    {{ include('oeuvrage/_form.html.twig') }}

    <a href="{{ path('oeuvrage_index') }}">back to list</a>
{% endblock %}
