{% extends 'base_front.html.twig' %}

{% block body %}
    <center><h1>Ajout au Panier</h1></center>
    {% for flashMessage in app.session.flashbag.get('green') %}

        <div class="alert alert-success">
            <center>{{ flashMessage }}</center>
        </div>

    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('red') %}

        <div class="alert alert-danger">
            <center>{{ flashMessage }}</center>
        </div>

    {% endfor %}

    <center>
        {{ include('panier_temp/_form.html.twig') }}
    </center>
    <br>
{% endblock %}