<form method="post" action="{{ path('blog_delete', {'blogId': blog.blogId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blog.blogId) }}">
    <button style="margin-top: 2px" class="btn btn-danger">Supprimer</button>
</form>
