{% extends 'base.html.twig' %}

{% block title %}New Inscription{% endblock %}

{% block body %}


    <a href="{{ path('inscription_index',) }}">revenir à la liste</a>
    <center>
    <h1>Voulez vous s'incrire à cette formation ? </h1>

    {{ include('inscription/_form.html.twig') }} </center>


{% endblock %}
