{% extends 'baseBack.html.twig' %}

{% block title %}
    <title> Modifier  Offre </title>
{% endblock %}

{% block body %}
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- OVERVIEW -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Modifier l'offre "{{ offre.nom }}" </h3>
                    <p class="panel-subtitle"></p>
                </div>
    <h1>Edit Offre</h1>

    {{ include('offre/_form.html.twig', {'button_label': 'Modifier'}) }}
                <div class="panel-body">

    <a href="{{ path('offre_index') }}" class="btn_4">Revenir à la liste</a>

    {{ include('offre/_delete_form.html.twig') }}
            </div>
            </div>
            <!-- END OVERVIEW -->

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
{% endblock %}
