<h1> Hi! please confirm your email</h1>

<p>
    please confirm your email adresse by clicking the following link :<br><br>
    <a href="{{ signedUrl|raw }}"> confirm my email </a>

</p>
<p>
    byeee
</p>